@{
    ViewData["Title"] = "View Movie Listings";
}

<div class="text-center">
    <h1>
       @ViewBag.Title
    </h1>

    @model IEnumerable<Movie>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Category
                </th>
                <th>
                    Year
                </th>
                <th>
                    Director
                </th>
                <th>
                    Rating
                </th>
                <th>
                    Edited
                </th>
                <th>
                    LentTo
                </th>
                <th>
                    Notes
                </th>
                <th>
                    
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Movie x in Model)
            {
            <tr>
                <td>@x.Title</td>
                <td>@x.Category</td>
                <td>@x.Year</td>
                <td>@x.Director</td>
                <td>@x.Rating</td>
                <td>@x.Edited</td>
                <td>@x.LentTo</td>
                <td>@x.Notes</td>
                <td><a href="/edit/@x.MovieId" class="btn btn-primary">Edit</a></td>             
                <td>
                    <form method="post">
                        <input type="hidden" name="movieId" value="@x.MovieId" />
                        <button class="btn btn-danger" type="submit">Delete</button>
                </form> </td>
            </tr>
            }
        </tbody>
    </table>
</div>
